/* Variable */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primer-color: #3E54AC;
    --segundo-color: #B43144;
    --color-background-sombra: #B4314430;
    --color-background: #F6F6F6;
    --color-texto: #3C84AB;
    --text-defaul: 'Open Sans', sans-serif;
}

/* Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-defaul);
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--color-background);
}

.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulos{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--primer-color);
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: var(--primer-color);
    font-weight: 700;
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--primer-color);
    /* border-radius: 15px; */
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all 0.3s;
}

.btn span{
    padding-left: 10px;
}

.btn:hover{
    padding: 15px 34px;
}

/* Barra de navegacion */
.barra-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-background);
    z-index: 1; 
}

.logo img{
    width: 80px;
    cursor: pointer;

}

.barra{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.barra .enlaces ul li{
    display: inline-block;
    padding: 0 20px;

}

.barra .enlaces ul li a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 600;
    /* Animacion linea abajo */
    background: linear-gradient(currentColor, currentColor);
    /* Crea una linea */
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /* Desaparece la linea */
    background-size: 0% 2px;
    transition: all 0.5s;
}

.barra .enlaces ul li a:hover{
    color: var(--segundo-color);
    background-size: 50% 2px;
}

.barra .redes a{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 5px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.5s;
}

.barra .redes a:hover{
        color: var(--segundo-color);
}

.barra-nav i{
    cursor: pointer;
    color: var(--color-texto);
    font-size: 30px;
    float: right;
    display: none;
    transition: all 0.5s;
}

.barra-nav i:hover{
    color: var(--segundo-color);
}

/* Slider de noticias */
 #menu-noticias .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
 }

 .contenedor-principal #btn-izquierda,
 .contenedor-principal #btn-derecha{
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--segundo-color);
    z-index: 500;
    outline: none;
    transition: all 0.3s;

 }

 .contenedor-principal #btn-izquierda:hover,
 .contenedor-principal #btn-derecha:hover{
    background: var(--color-background-sombra);
    transform: translateY(5px);
 }
 
 .contenedor-principal #btn-izquierda{
    left: 0;
 }
 .contenedor-principal #btn-derecha{
    right: 0;
 }

 .slider{
    display: flex;
    overflow: hidden;     
    height: calc(100vh - 75px);
    /* Para animacion del paso de pestaña */
    scroll-behavior: smooth;
 }

 .container-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 0;
 }

 .descripcion-noticias{
    width: 30%;
 }

 .descripcion-noticias h1{
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
 }

 .descripcion-noticias h2{
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
 }

 .descripcion-noticias p{
    color: var(--color-texto);
    font-style: italic;
    text-align: justify;
    /* font-size: 1vw; */
 }

 .imagen-noticias {
    width: 50%;
    display: flex;
    justify-content: center;

 }

 .imagen-noticias img{
    width: 80%;
    transform: scale(1.1);
    transition: all 0.3s;
 }
 .container-noticias:hover .imagen-noticias img{
    transform: scale(1.15);

 }


 /* Seccion Deportes */
 #deportes{
    height: 100vh;
    background: #fff;
    padding: 40px;
 }

 .deportes-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .deportes-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 30px;
    grid-template-areas:    "futbol     imagen      basquet"
                            "americano  imagen      basebol";
 }

 .futbol{
    grid-row: futbol;
    grid-column: futbol;
 }

 .americano{
    grid-row: americano;
    grid-column: americano;
 }

 .basquet{
    grid-row: basquet;
    grid-column: basquet;
 }

 .beis{
    grid-row: basebol;
    grid-column: basebol;
 }

 .imagen-central{
    grid-row: imagen;
    grid-column: imagen;
    transition: all 0.5s;
 }

 .imagen-central:hover{
    transform: scale(1.1);
 }

 .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .items span{
    width: 95px;
    font-size: 40px;
    color: var(--segundo-color);
    padding: 20px;
    border: 5px double #dedede;
    border-radius: 50%;
    transition: all 0.5s;
 }

 .items span:hover{
    background: var(--segundo-color);
    color: #fff;
 }

 .futbol span,
 .basquet span{
    color: var(--primer-color);
 }

 .futbol span:hover,
 .basquet span:hover{
    color: #fff;
    background: var(--primer-color);
 }

 .items .titulo-item{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
 }

 .items .textp-item{
    font-size: 14px;
    color: var(--color-texto);
    text-align: center;
    font-style: italic;
    padding: 0 20px;

 }

 /* Seccion de ingredientes */

 #ligas{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .lig{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
 }

 .imagen-liga{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
 }

 .info-liga{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    transition: all 0.3s;
 }

 .info-liga p{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
 }

 .info-liga:hover{
    background: rgba(0,0,0, 0.25);
 }

 .info-liga:hover p{
    transform: translateY(10px);
 }


/* Seccion contacto */
#contacto{
    height:  100vh;
    padding: 60px;
    position: relative;
}

#formulario{
    width: 70%;
    margin: 50px auto;
} 

.two-fiels{
    display: flex;
    justify-content: space-between;
}

.input-text,
.input-email,
.textarea{
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    color: #888;
    background: #fff;
    outline: none;
    padding: 15px 60px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all 0.5s;

}

.textarea{
    width: 100%;
    height: 150px;
    /* Para que el tamaño de la caja sea fijo */
    resize: none;
}

.input-text, .input-email{
    width: 100%;
}

.inputConIcon{
    /* Lo hacemos como contenedor padre para que a ese contenedor los elementos que tenga dentro para posiconarlo con un absolute */
    position: relative;
    width: 48%;
}

.inputConIcon i{
    position: absolute;
    left:  0;
    padding: 14px 15px;
    background: #888;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.5s;
}

.textareaIcon{
    width: 100%;
}

.textareaIcon i{
    background: transparent;
    color: #888;
    padding: 0;
    font-size: 25px;
    left: 17px;
    top: 13px;
    transition: all 0.5s;
}

.inputConIcon input:focus,
.inputConIcon textarea:focus{
    border: 1px solid var(--primer-color);
}

.inputConIcon input:focus + i{
    background: var(--primer-color);
}

.inputConIcon textarea:focus + i{
    color: var(--primer-color);
}

.fiels-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-input{
    padding: 15px 50px;
    border-radius: 10px;
}

.btn-input:hover{
    padding: 15px 65px;
}


/* Alertas */
.alertas{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alertas  */

.alert{
    width: 60%;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    transition: all 0.5s;
}

.alert.show{
    transform: translateY(50%);
}

.alert.hide{
    transform: translateY(-100%);
}




.alert .icono-alert{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

/* Diseño del alerta de error */
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
}

#alertError{
    background: #f8d7da;
    border-right: 4px solid #da3748;
}

#alertError .icono-alert{
    color: #da3748;
}

.alertError .msg{
    color: #721c24;
}

/* Diseño de alerta de enviado */
#alertSuccess{
    background: #d4edda;
    border-right: 4px solid #279e43;
}

#alertSuccess .icono-alert{
    color: #279e43;
}

.alertSuccess .msg{
    color: #155724;
}

/*Footer  */
footer{
    display: flex;
    margin-top: -100px;
}

.sociales-metodo{
    width: 25%;
    height: 100px;
    background: #333;
    color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.sociales-metodo i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 100px;
    transition: all 0.5s;
}

.sociales-metodo span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    font-size: 12px;
    background: var(--primer-color);
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    transform: translateY(60px);
    transition: all 0.5s;
}

.sociales-metodo i:hover + span{
    transform: translateY(0px);
}

.sociales-metodo i:hover{
    transform: translateY(-20px);
}


/* boton arriba */
#btn-top{
    width: 50px;
    height: 50px;
    background-color: var(--segundo-color);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    transform: translateY(200%);
    transition: all 0.5s;
}

#btn-top.show{
    transform: translateY(0);
}

#btn-top.scrollFinal{
    transform: translateY(-250%);
}

#btn-top span{
    color: #fff;
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s;
}

#btn-top:hover{
    background: #e80829;
}

#btn-top:hover span{
    transform: translateY(-3px);
}








/* -------------------------------------------------------------------------------------------- */
/* Media query  850*/

@media screen and (max-width:850px){
    /* Slider noticias */
    .container-noticias{
        flex-direction: column;
    }
    .descripcion-noticias{
        width: 70%;
        order: 1;
    }

    .descripcion-noticias .btn{
        padding: 10px 20px;
    }
    
    .descripcion-noticias .btn:hover{
        padding: 10px 25px;
    }


    /* Seccion servicios */

    .deportes-container{
        margin-top: 50px;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:    "futbol     basquet"
                                "americano  basebol";
    }

    .imagen-central{
        display: none;
    }
}

/* Seccion clubes */
#equipo{
    height: 100vh;
    display: flex;
}

.barcelona{
    /* Tiene el mismo tamaño la imagen */
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.barcelona:hover{
    flex-grow: 3;
}

.club-imagen{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Para que se vea en blanco y negro */
    filter: grayscale(80);
}

.barcelona:hover .club-imagen{
    filter: grayscale(0%);
}

.info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.barcelona:hover .info{
    bottom: 60px;
    opacity: 1;
    transition-delay: 0.3s;
}

.info h2{
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
}

.info p{
    color: var(--segundo-color);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.5);
}

.sociales a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background: var(--segundo-color);
    /* Tambin se usa para centar */
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}

.sociales a:hover{
    color: var(--segundo-color);
    background: transparent;
    transform: scale(2);
}










@media screen and (max-width:650px) {
    /* Pagina principa con menu */
    .barra-nav{
        position: fixed;
        top: 0;
        margin-top: 0;
        /* background: #333; */
    }

    .barra-nav i{
        display: block;
    }

    .barra{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        /* capas una capa muy adelante siempre estara por delante*/
        z-index: 1000;
        background: #333;
        transition: all 1s;
        transform: translateX(100%);
    }

    .barra.active{
        transform: translateX(0%);
    }

    .barra i{
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .barra .enlaces ul li{
        display: block;
        padding: 20px 10px;
        text-align: center;
    }
    .barra .enlaces ul li a,
    .barra .redes a{
        font-size: 20px;
    }

    /* Slider noticias */
    .slider{
        height: calc(100vh - 0px);
    }
    .imagen-noticias{
        width: 65%;
    }

    .descripcion-noticias h1{
        font-size: 7vw;
    }

    .descripcion-noticias h2{
        font-size: 3vw;
    }


    /* Ligas */

    .info-liga .txt-liga{
        display: none;
    }
    

    #formulario{
        width: 100%;
    }

    .two-fiels{
        flex-direction: column;
    }

    .inputConIcon{
        width: 100%;
    }

    /* Alertas  */
    .alert{
        width: 100%;
    }

    .alert.show{
        transform: translateY(150%);
    }

    /* footer */
    footer{
        flex-wrap: wrap;
        margin-top: -60px;
        
    }

    .sociales-metodo{
        width: 50%;
    }

    /* Boton de ir arriba */
    #btn-top{
        display: none;
    }

}